/* src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* في ملف CSS خاص */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: transparent;
}

body {
    /* background-color: blue !important; */
} 